@model FinishGameViewModel

<h3>FINISH THE GAME</h3>
<form 
            asp-controller="Game" 
            asp-action="Finish" 
            asp-route-returnurl="@ViewBag.ReturnUrl" 
            method="post" 
            class="form-horizontal"
            role="form">
    <input asp-for="GameId" type="hidden"/>
    <div class="form-group row">
        <div class="col-sm-12">            
        @foreach (var item in Model.Teams) {
        <div class="radio">                
            <label><input asp-for="WinningTeam" type="radio" value="@item.Key" /> Team <b style="color: white">@(string.Join(" and ", item.Value))</b> winned
        </div>
        }
        <div class="radio">
            <input asp-for="WinningTeam" type="radio" value="0" /> <span>There was a draw</span>
        </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <input type="submit" value="Finish Game" class="btn btn-danger" />
        </div>
    </div>
</form>