@model SearchTeamViewModel


<form class="form-inline">
    <div class="form-group">
        <label asp-for="TeamName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="TeamName" class="form-control" />
            <span asp-validation-for="TeamName" class="text-danger"></span>
        </div>
    </div>
    <button id="CreateTeamButton" class="btn">Create team</button>
</form>

<div id="TeamQueueListDiv">
    <table id="TeamQueueListTable" class="table">
        <thead>
            <tr>    
                @for(int teamNo = 1; teamNo <= Model.TeamsCount; teamNo++) {
                    <th>@teamNo</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var team in Model.TeamQueue) {
                <tr>
                    @for(int playerIndex = 0; playerIndex < Model.TeamsCount; playerIndex++) {
                        if(playerIndex < team.Size) {
                            <td>@team.Players[playerIndex]</td>
                        } else {
                            <td></td>
                        }
                    }
                    if(Model.SelectedTeamId.Value == team.Id) {
                        <button class="btn btn-danger" id="LeaveTeamButton">Leave</button>
                    }
                    if(!Model.SelectedTeamId.HasValue) {
                        <button class="btn btn-primary" id="JoinTeamButton">Join</button>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>