@model NewGameViewModel

<div class="container">
  <div class="row">
      <select class="selectpicker" multiple>
        <optgroup label="Condiments" data-max-options="2">
          <option>Mustard</option>
          <option>Ketchup</option>
          <option>Relish</option>
        </optgroup>
        <optgroup label="Breads" data-max-options="2">
          <option>Plain</option>
          <option>Steamed</option>
          <option>Toasted</option>
        </optgroup>
      </select>
  </div>
</div>