@model SearchGameViewModel

<h1>@Model.Label</h1>

@{
    if(Model.CurrentlyPlayingPlayers == null) {
        Model.CurrentlyPlayingPlayers = new List<PlayerViewModel>();
    }
    if(Model.QueuedPlayers == null) {
        Model.QueuedPlayers = new List<PlayerViewModel>();
    }
}

<div class="row">
    
    <div id="TeamQueueListDiv" class="col-sm-12 team-queue-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <button id="SearchGameJoinGameQueue" class="btn btn-default btn-lg btn-block btn-primary">Join game queue</button>
                    <input id="SeachGameCurrentPlayerId" asp-for="CurrentPlayerId" type="hidden"/>
                </div>
            </div>
        </div>
        <div id="CurrentlyPlayingPlayersListDiv" class="row")>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h3>Currently playing:</h3>
                    <ol class="list-group" id="currentPlayersList">
                        @foreach(var player in Model.CurrentlyPlayingPlayers) {
                            @Html.Partial("PlayerListItem.cshtml", player)
                        }
                    </ol>
                </div>
                <div class="col-sm-6">
                    <h3>@Model?.CurrentGameTimeLeft?.Label</h3>
                    <p class="current-game-clockdown" id="currentGameTimeLeft">@Model?.CurrentGameTimeLeft?.SecondsLeft</p>
                </div>
            </div>
        </div>
        <div id="QueuedPlayersListDiv" class="row")>
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h3>Players queued:</h3>
                    <ol class="list-group" id="queuedPlayersList">
                        @foreach(var player in Model.QueuedPlayers) {
                            @Html.Partial("PlayerListItem.cshtml", player)
                        }
                    </ol>
                </div>
                <div class="col-sm-6">
                    <h3>Estimated waiting time:</h3>
                    <p class="current-game-clockdown" id="estimatedGameTimeLeft"></p>
                </div>
            </div>
        </div>
    </div>
</div>